<div *ngIf="movie" class="card">
  <div (click)="getDetails()" class="img_details">
    <img src="https://image.tmdb.org/t/p/w300{{movie.backdrop_path}}" alt="logo_films">
    <h4>{{movie.original_title}}</h4>
  </div>
  <div>Average vote: {{movie.vote_average}}</div>
  <div><ngx-star-rating ngModel="{{rating(movie.vote_average)}}" [id]="movie.id.toString()" [disabled]="true"></ngx-star-rating></div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
